.vscode/**
.vscode-test/**
src/**
!src/panel/
!src/panel/media/
!src/panel/media/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
